:root{
--white: hsl(0, 0%, 100%);
--slate-300: hsl(212, 45%, 89%);
--slate-500: hsl(216, 15%, 48%);
--slate-900: hsl(218, 44%, 22%);
}

@import "tailwindcss";

@font-face{
    font-family: "Outfit";
    src:
        local("Outfit"),
        url("./assets/Outfit-VariableFont_wght.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: "Outfit";
    src:
        local("Outfit"),
        url("./assets/Outfit-VariableFont_wght.ttf");
    font-weight: 700;
    font-display: swap;
}